.product-card {
  width: 360px;
}

.product-card__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.product-card__img {
  width: 360px;
  height: 360px;
  padding: 10px;
  border-bottom: 1px solid #a5a5a5;
  margin-bottom: 15px;
}

.product-card__price {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
